.benefits__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/benefits_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits__wrapper h2 {
  margin-top: 57px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.benefits__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 290px;
  min-height: 250px;
  margin-bottom: 30px;
  background-color: $color-alice-blue;
  padding: 20px 15px 18px 20px;
}

.benefits__card--system {
  padding-right: 47px;
  padding-top: 24px;
}

.benefits__card--zodiac {
  padding-right: 37px;
  padding-top: 26px;
}

.benefits__card:last-child {
  margin-bottom: 65px;
}

.benefits__card-image {
  display: block;
  margin-top: 5px;
}

.benefits__card h3 {
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: $color-tangaroa;
}

.benefits__card--system h3 {
  width: 133px;
  margin-top: 22px;
}

.benefits__card--zodiac h3 {
  width: 150px;
  margin-top: 26px;
}

.benefits__card--liner h3 {
  width: 170px;
}

.benefits__card p {
  margin: 0;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-tangaroa;
}

@media (min-width: $vp-768) {
  .benefits__wrapper {
    background-image: url("/img/benefits_bg.png");
  }

  .benefits__wrapper h2 {
    font-size: 26px;
    margin-top: 90px;
    margin-bottom: 47px;
  }

  .benefits__card-wrapper {
    flex-direction: row;
    align-items: center;
    margin-bottom: 102px;
    gap: 30px;
  }

  .benefits__card {
    width: 206px;
    min-height: 310px;
    margin: 0;
    padding-left: 20px;
  }

  .benefits__card:last-child {
    margin-bottom: 0;
  }

  .benefits__card-image {
    margin-top: 7px;
  }

  .benefits__card h3 {
    margin-bottom: 12px;
    width: 170px;
    min-height: 38px;
  }

  .benefits__card p {
    margin: 0;
    width: 167px;
    min-height: 151px;
  }
}

@media (min-width: $vp-1024) {
  .benefits__wrapper {
    background-image: url("/img/benefits_bg.png");
  }

  .benefits__wrapper h2 {
    font-size: 28px;
    margin-top: 110px;
    margin-bottom: 49px;
  }

  .benefits__card-wrapper {
    margin-bottom: 120px;
    gap: 40px;
  }

  .benefits__card {
    width: 300px;
    min-height: 241px;
    margin: 0;
    padding-top: 0;
    padding-left: 30px;
  }

  .benefits__card--liner .benefits__card-image {
    width: 27px;
    height: 32px;
    margin-top: 30px;
  }

  .benefits__card--system .benefits__card-image {
    width: 38px;
    height: 21px;
    margin-top: 35px;
  }

  .benefits__card--zodiac .benefits__card-image {
    width: 42px;
    height: 15px;
    margin-top: 38px;
  }

  .benefits__card h3 {
    margin-bottom: 0;
  }

  .benefits__card--system h3 {
    width: 285px;
    margin-top: 25px;
  }

  .benefits__card--zodiac h3 {
    width: 285px;
    margin-top: 28px;
  }

  .benefits__card--liner h3 {
    width: 285px;
  }

  .benefits__card p {
    width: auto;
    min-height: 91px;
  }
}


@media (min-width: $vp-1366) {
  .benefits__card {
    width: 360px;
  }
}
