.benefits__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/benefits_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits__header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.benefits__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 290px;
  min-height: 250px;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 25px;
}

.benefits__card:last-child {
  margin-bottom: 65px;
}

.benefits__card-image {
  display: block;
}

.benefits__card-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: black;
}

.benefits__card-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: black;
}

@media (min-width: $vp-768) {
  .benefits__wrapper {
    background-image: url("/img/benefits_bg.png");
  }

  .benefits__header {
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 60px;
  }

  .benefits__card-wrapper {
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
  }

  .benefits__card {
    width: 206px;
    min-height: 310px;
    margin: 0;
    padding-left: 20px;
  }

  .benefits__card:last-child {
    margin-bottom: 0;
  }

  .benefits__card-header {
    margin-bottom: 20px;
    width: 170px;
    min-height: 38px;
  }

  .benefits__card-text {
    margin: 0;
    width: 167px;
    min-height: 151px;
  }
}

@media (min-width: $vp-1366) {
  .benefits__wrapper {
    background-image: url("/img/benefits_bg.png");
  }

  .benefits__header {
    font-size: 28px;
    margin-top: 120px;
    margin-bottom: 60px;
  }

  .benefits__card-wrapper {
    margin-bottom: 120px;
    gap: 40px;
  }

  .benefits__card {
    width: 360px;
    min-height: 241px;
    margin: 0;
    padding-left: 30px;
  }

  .benefits__card-header {
    width: 296px;
    min-height: 13px;
  }

  .benefits__card-text {
    width: 288px;
    min-height: 91px;
  }
}
