.booking {
  background-image: url("/img/booking_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.booking__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.booking__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 46px;
}

.booking__header {
  margin-bottom: 25px;
  width: 194px;
  height: 49px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: $color-tangaroa;
}

.booking__text {
  margin: 0;
  width: 257px;
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $color-tangaroa;
}

@media (min-width: $vp-768) {
  .booking {
    background-image: url("/img/booking_bg.png");
  }

  .booking__info {
    width: 419px;
    min-height: 90px;
    margin-top: 62px;
  }

  .booking__header {
    margin-bottom: 30px;
    width: 419px;
    height: 25px;
    font-size: 34px;
  }

  .booking__text {
    margin: 0;
    width: 352px;
    min-height: 40px;
    font-size: 18px;
    margin-bottom: 2px;
  }
}

@media (min-width: $vp-1366) {
  .booking {
    display: flex;
    align-items: center;
    min-height: 555px;
    background-image: url("/img/booking_bg.png");
  }

  .booking__wrapper {
    flex-direction: row;
    align-items: center;
    width: 1040px;
    min-height: 455px;
    gap: 144px;
  }

  .booking__info {
    align-items: flex-start;
    margin: 0;
    margin-bottom: 20px;
    width: 493px;
    height: 110px;
    min-height: 90px;
  }

  .booking__header {
    margin: 0;
    margin-bottom: 30px;
    width: 493px;
    height: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
  }

  .booking__text {
    margin: 0;
    width: 400px;
    min-height: 40px;
    font-size: 18px;
    text-align: left;
  }
}
