.booking {
  background-image: url("/img/booking_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.booking__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.booking__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 40px;
}

.booking__header {
  margin-bottom: 25px;
  width: 194px;
  height: 49px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #011C40;
}

.booking__text {
  margin: 0;
  width: 257px;
  height: 56px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #011C40;
}

@media (min-width: $vp-768) {
  .booking {
    background-image: url("/img/booking_bg_tablet.png");
  }

  .booking__info {
    width: 419px;
    min-height: 90px;
    margin-top: 100px;
  }

  .booking__header {
    width: 419px;
    height: 25px;
    font-size: 34px;
  }

  .booking__text {
    margin: 0;
    width: 352px;
    min-height: 40px;
    font-size: 18px;
    margin-bottom: 60px;
  }
}

@media (min-width: $vp-1366) {
  .booking {
    display: flex;
    align-items: center;
    min-height: 555px;
    background-image: url("/img/booking_bg_desktop.png");
  }

  .booking__wrapper {
    flex-direction: row;
    align-items: center;
    width: 1040px;
    min-height: 455px;
  }

  .booking__info {
    width: 419px;
    min-height: 90px;
    margin-top: 100px;
  }

  .booking__header {
    width: 419px;
    height: 25px;
    font-size: 34px;
  }

  .booking__text {
    margin: 0;
    width: 352px;
    min-height: 40px;
    font-size: 18px;
    margin-bottom: 60px;
  }
}
