.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 65px;
  width: 290px;
  min-height: 460px;
  background-color: $color-tangaroa;
  box-shadow: 0 4px 45px $color-tangaroa-beta;
  color: $color-alice-blue;
}

.form h3 {
  display: flex;
  align-items: center;
  text-align: center;
  width: 214px;
  min-height: 63px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  margin-top: 35px;
  margin-bottom: 27px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="email"] {
  border: 0;
  width: 230px;
  height: 43px;
  background-color: $color-alice-blue;
  margin-bottom: 20px;
  padding: 12px 0;
  padding-left: 16px;
}

.form input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-tangaroa-alfa;
}

.form__label-checkbox {
  display: flex;
  align-items: center;
  width: 190px;
  height: 20px;
  margin-bottom: 30px;
  margin-right: 40px;
}

.form__input-checkbox {
  width: 20px;
  height: 20px;
}

.form__checkbox {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background-color: $color-alice-blue;
  margin-right: 8px;
}

.form__checkbox:hover {
  background-color: $color-glacier;
}

.form__input-checkbox:focus + .form__checkbox {
  background-color: $color-glacier;
}


.form__input-checkbox:checked + .form__checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 5px;
  width: 10px;
  height: 6px;
  background-image: url("../img/svg/check_form.svg");
  background-position: center;
}

.form__checkbox-text {
  width: 157px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: $color-alice-blue;
}

.form button {
  display: block;
  width: 230px;
  height: 43px;
  background-color: $color-alice-blue;
  border: 0;
  margin-bottom: 40px;
}

.form button:hover {
  background-color: $color-glacier;
}

.form button span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color-tangaroa;
}

@media (min-width: $vp-768) {
  .form {
    width: 403px;
    height: 455px;
    margin-bottom: 95px;
  }

  .form h3 {
    width: 303px;
    min-height: 40px;
    margin-top: 46px;
    text-align: left;
    margin-bottom: 29px;
  }

  .form input[type="text"],
  .form input[type="number"],
  .form input[type="email"] {
    width: 303px;
    height: 43px;
    padding: 11px 0;
    padding-left: 16px;
  }

  .form__label-checkbox {
    width: 303px;
    height: 18px;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .form__input-checkbox {
    width: 18px;
    height: 18px;
  }

  .form__checkbox {
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }

  .form__input-checkbox:checked + .form__checkbox::before {
    left: 4px;
  }

  .form__checkbox-text {
    width: 279px;
    height: 8px;
  }

  .form button {
    width: 303px;
    margin-bottom: 50px;
  }
}

@media (min-width: $vp-1024) {
  .form {
    margin-bottom: 0;
  }

  .form h3 {
    margin-top: 48px;
  }
}
