.info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  margin-top: 65px;
}

.info__header {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  width: 290px;
  height: 93px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #011C40;
}

.info__address {
  display: flex;
  align-items: flex-start;
  width: 290px;
  height: 36px;
  margin-bottom: 33px;
}

.info__address-image {
  margin-right: 10px;
}

.info__address-text {
  display: block;
  width: 255px;
  height: 36px;
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #011C40;
}

.info__number {
  display: flex;
  align-items: flex-start;
  width: 290px;
  height: 36px;
  margin-bottom: 33px;
}

.info__number-image {
  margin-right: 10px;
}

.info__number-text {
  display: block;
  width: 255px;
  height: 36px;
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #011C40;
}

.info__map {
  display: block;
  width: 290px;
  height: 316px;
  background-color: #011C40;
  margin: 0 auto;
  margin-bottom: 65px;
}

.info__map-frame {
  width: 100%;
  height: 100%;
}

@media (min-width: $vp-768) {
  .info {
    display: flex;
    align-items: center;
    min-height: 535px;
  }

  .info__wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .info__header {
    width: 324px;
    height: 67px;
  }

  .info__address-text {
    width: 255px;
  }

  .info__number {
    margin-bottom: 0;
  }

  .info__map {
    order: -1;
    width: 324px;
    height: 335px;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media (min-width: $vp-1366) {
  .info {
    display: flex;
    align-items: center;
    min-height: 535px;
  }

  .info__wrapper {
    width: 1160px;
    justify-content: space-between;
  }

  .info__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    width: 500px;
  }

  .info__header {
    width: 500px;
    height: 40px;
  }

  .info__address {
    width: 500px;
  }

  .info__address-text {
    width: 417px;
    min-height: 12px;
  }

  .info__number {
    margin-bottom: 0;
  }

  .info__map {
    order: -1;
    width: 560px;
    height: 306px;
    margin-right: 100px;
  }
}
