.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-alice-blue;
  margin: 0 auto;
}

.intro__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.intro__header {
  display: block;
  margin: 0;
  width: 190px;
  min-height: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  margin-top: 57px;
}

.intro__text {
  display: block;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 33px;
  width: 290px;
  min-height: 203px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.intro__img {
  display: block;
  margin: 0;
  margin-bottom: 65px;
}

@media (min-width: $vp-768) {
  .intro__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 678px;
    min-height: 264px;
    margin: 0 auto;
    margin-top: 87px;
    margin-bottom: 93px;
    gap: 30px;
  }

  .intro__header {
    margin: 0;
    margin-top: 6px;
    margin-bottom: -11px;
  }

  .intro__text {
    display: block;
    margin: 0;
    margin-top: 30px;
    width: 324px;
    min-height: 180px;
  }

  .intro__img {
    margin: 0;
    margin-top: 5px;
    width: 324px;
    height: 264px;
  }
}

@media (min-width: $vp-1366) {
  .intro__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1160px;
    min-height: 301px;
    margin: 0 auto;
    margin-top: 119px;
    margin-bottom: 121px;
    gap: 88px;
  }

  .intro__info-wrapper {
    width: 512px;
  }

  .intro__header {
    width: 430px;
    height: 21px;
    font-size: 28px;
    margin: 0;
    margin-bottom: -36px;
  }

  .intro__text {
    width: 512px;
    margin-top: 40px;
    min-height: 108px;
    font-size: 16px;
  }

  .intro__img {
    margin: 0;
    width: 560px;
    height: 301px;
  }
}
