.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 43, 102, 0.5);
  width: calc(100vw - 35px);
  height: 100vh;
}

.mobile-nav--opened {
  display: block;
}

.mobile-nav__wrapper {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  padding: 15px 15px;
  width: calc(100vw - 35px);
  background-color: $color-alice-blue;
}

.mobile-nav::before {
  content: '';
  cursor: pointer;
  position: fixed;
  width: 35px;
  background-color: $background-overlay;
  height: 100vh;
  left: 0;
  top: 0;
}

.mobile-nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 41px;
}

.mobile-nav__logo {
  width: 42px;
  height: 22px;
}

.mobile-nav__toggle {
  display: block;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/svg/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 15px;
  border: none;
  padding: 0;
}

.mobile-nav__list {
  overflow-y: auto;
  width: 240px;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.mobile-nav__item {
  margin-bottom: 26px;
}

@media (min-width: $vp-768) {
  .mobile-nav--opened {
    display: none;
  }
}
