.page-header {
  position: relative;
  width: 100%;
  min-height: 500px;
  border: none;
  background-color: $color-glacier;
  background-image: url("/img/header_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/header_bg@2x.png");
    background-size: cover;
  }
}

.page-header__wrapper {
  padding: 20px 15px;
}

.page-header__nav-container--nojs .page-header__toggle {
  display: block;
}

.page-header__nav-container--nojs .main-nav--opened .main-nav__list {
  position: static;
  height: auto;
  background-image: none;
  padding-top: 0;
}

.page-header__nav-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.page-header__toggle {
  display: block;
  background-color: transparent;
  cursor: pointer;

  &--closed {
    background-image: url("/img/svg/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
  }
}

.page-header__toggle--opened {
  background-image: url("/img/svg/burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  right: -12px;
  height: 24px;
  width: 24px;
  border: none;
}

.page-header__info-wrapper {
  margin-top: 143px;
}

.page-header__header {
  margin: 0;
  width: 265px;
  min-height: 71px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: white;
}

.page-header__text {
  margin-top: 25px;
  width: 200px;
  min-height: 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
}

@media (min-width: $vp-768) {
  .page-header {
    min-height: 638px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__info-wrapper {
    width: 589px;
    min-height: 78px;
    margin-left: 45px;
  }

  .page-header__header {
    width: 589px;
    height: 36px;
    font-size: 50px;
    line-height: 61px;
  }

  .page-header__text {
    width: 387px;
    margin: 0;
    min-height: 13px;
    font-size: 18px;
    line-height: 22px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $vp-1366) {
  .page-header__wrapper {
    min-height: 650px;
  }

  .page-header__info-wrapper {
    width: 636px;
    min-height: 85px;
    margin-left: 198px;
  }

  .page-header__header {
    width: 636px;
    height: 39px;
    font-size: 54px;
    line-height: 66px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }

  .page-header__text {
    width: 430px;
    min-height: 15px;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .page-header__toggle {
    display: none;
  }
}
