.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.social__link {
  display: block;

  width: 16px;
  height: 16px;
}

.social__link--facebook {
  margin-right: 16px;
}

.social__link--instagram {
  margin-right: 23px;
}

.social__link--twitter {
  margin-right: 23px;
}

.social__link:last-child {
  margin: 0;
}

@media (min-width: $vp-768) {
  .social {
    margin: 0;
    flex: 0 0 120px;
    margin-left: 40px;
  }

  .social__link {
    margin-right: 18px;
  }
}


@media (min-width: $vp-1024) {
  .social {
    margin: 0;
    flex: 0 0 105px;
    justify-content: space-between;
  }

  .social__link {
    width: 20px;
    height: 20px;
  }

  .social__link--facebook .social__logo {
    display: block;
    width: 11px;
    height: 20px;
  }

  .social__link--instagram .social__logo {
    display: block;
    width: 20px;
    height: 20px;
  }

  .social__link--twitter .social__logo {
    display: block;
    width: 20px;
    height: 19.5px;
  }
}
