.upcoming__header {
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 30px;
  width: 260px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: $color-tangaroa;
  text-align: center;
}

.upcoming__card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.upcoming__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 270px;
  height: 386px;
  margin-bottom: 30px;
  color: $color-alice-blue;
}

.upcoming__card:last-child {
  margin-bottom: 65px;
}

.upcoming__img-header {
  position: absolute;
  margin: 0;
  bottom: 19px;
  left: 25px;
  font-weight: 500;
  font-size: 18px;
  color: $color-alice-blue;
}

.upcoming__card:hover .upcoming__hover-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 25px;
  background-color: $color-tangaroa;
  width: 270px;
  height: 386px;
  margin-bottom: 30px;
  color: $color-alice-blue;
}

.upcoming__hover-wrapper {
  display: none;
}

.upcoming__hover-wrapper h3 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  color: $color-alice-blue;
}

.upcoming__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.upcoming__item {
  height: 52px;
}

.upcoming__item:first-child {
  margin-bottom: 20px;
}

.upcoming__item h4 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-alice-blue;
}

.upcoming__item p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-alice-blue;
}

.upcoming__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-right: 50px;
  margin-bottom: 35px;
  width: 220px;
  height: 40px;
  background-color: $color-alice-blue;
}

.upcoming__link:hover {
  background-color: $color-glacier;
}

.upcoming__link-text {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: $color-tangaroa;
}

.upcoming__img {
  width: 100%;
  height: 100%;
}

@media (min-width: $vp-768) {
  .upcoming__header {
    margin-top: 90px;
    margin-bottom: 49px;
    width: 281px;
    font-size: 26px;
  }

  .upcoming__img {
    height: 386px;
  }

  .upcoming__card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    width: 648px;
    margin-bottom: 100px;
  }

  .upcoming__card {
    width: 309px;
    margin: 0;
  }

  .upcoming__card:last-child {
    margin-bottom: 0;
  }

  .upcoming__img-header {
    bottom: 29px;
    left: 35px;
  }

  .upcoming__card:hover .upcoming__hover-wrapper {
    width: 309px;
    height: 100%;
    padding-left: 35px;
    padding-right: 27px;
  }

  .upcoming__link {
    width: 240px;
    height: 40px;
  }
}

@media (min-width: $vp-1024) {
  .upcoming__header {
    margin-top: 110px;
    width: 302px;
    font-size: 28px;
  }

  .upcoming__img {
    height: 100%;
  }

  .upcoming__img-header {
    bottom: 23px;
    left: 30px;
  }

  .upcoming__card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    width: 840px;
    margin-bottom: 120px;
  }

  .upcoming__card {
    width: 260px;
  }

  .upcoming__card:hover .upcoming__hover-wrapper {
    width: 260px;
    height: 100%;
    padding-left: 25px;
  }

  .upcoming__link {
    width: 210px;
    height: 40px;
  }
}


@media (min-width: $vp-1366) {
  .upcoming__card-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 1130px;
  }
}
